.dmylibk-tencent,
.dmylibk-default,
.dmylibk-csdn,
.dmylibk-bilibili {
  display: none;
}

.dmy-overall-body {
  background-color: #eff2f5;
  color: #222;
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dmylibk-zhihu-box {
  padding-top: 220px;
  max-width: 540px;
  margin: auto;
  word-break: break-all;
}

@media (max-width: 450px) {
  .dmylibk-zhihu-box {
    padding-top: 120px;
    width: 94%;
  }
}

.dmylibk-zhihu-title {
  position: relative;
  z-index: 9997;
  background-color: #f7f7f7;
  border: 1px solid #babbbc;
  border-radius: 5px;
  padding: 26px;
}

.dmylibk-zhihu-title-icon p {
  font-size: 15px;
}

.dmylibk-zhihu-title-text {
  font-size: 18px;
  color: #222226;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.dmylibk-zhihu-titlelink {
  font-size: 14px;
  color: #222226;
  line-height: 24px;
  margin-bottom: 24px;
}



.dmylibk-zhihu-titlelink a {
  color: #FC5531;
}

.dmylibk-zhihu-titlelink-p-no2 {
  margin-top: 12px;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}


.dmylibk-zhihu-link-a {
  margin-top: 15px;
  padding-top: 30px;
  text-align: right;
  border-top: 1px solid #d8d8d8;
}

.dmylibk-zhihu-link-a a {
  display: inline-block;
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  background-color: #0077d9;
  border-radius: 3px;
  text-decoration: none;
}

.dmylibk-zhihu-logo img {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-bottom: 16px;
}